* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1.6px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 12px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 14px;
}
p {
  margin-bottom: 20px;
  color: #617d98;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 16px;
  }
  body {
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.section {
  width: 90vw;
  margin: 80px auto;
  max-width: 1170px;
}

.loading {
  text-align: center;
}

.underline {
  width: 80px;
  height: 4px;
  margin-bottom: 20px;
  background: #2caeba;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 64px;
  text-align: center;
}

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 64px;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 1.6px;
  margin: 0 8px;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 4px 0;
  line-height: 1;
  outline-color: #e0fcff;
}
.job-btn:hover {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}
.active-btn {
  color: #2caeba;
  box-shadow: 0 2px #2caeba;
}

.job-info h3 {
  font-weight: 400;
}
.job-info h4 {
  text-transform: uppercase;
  color: #617d98;
  background: #dae2ec;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
}
.job-date {
  letter-spacing: 1.6px;
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 32px;
  align-items: center;
  margin-bottom: 20px;
}
.job-desc p {
  margin-bottom: 0;
  color: #324d67;
}
.job-icon {
  color: #2caeba;
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 64px;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 16px;
  }
  .active-btn {
    box-shadow: -2px 0 #2caeba;
  }
  .job-btn:hover {
    box-shadow: -2px 0 #2caeba;
  }
}
.btn {
  text-transform: uppercase;
  background: #2caeba;
  color: #bff8fd;
  padding: 6px 12px;
  letter-spacing: 1.6px;
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 14px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
  width: 192px;
  text-align: center;
  margin: 0 auto;
  margin-top: 48px;
}
.btn:hover {
  color: #044e53;
  background: #88ebf2;
}
